[submodule "IQToolkit"]
	path = IQToolkit
	url = https://github.com/mattwar/iqtoolkit.git
[submodule "Dependencies/IQToolkit"]
	path = Dependencies/IQToolkit
	url = https://github.com/mattwar/iqtoolkit.git
